@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: #e0e9ee ;*/
}

body {
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
}
header img {
  width: 80px;
  height: auto;
  margin: 0;
  padding: 0;
}
header .container-fluid {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 160, 187) 0%, rgba(0, 188, 219, 0.9) 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
header .navbar-nav {
  margin: 0;
}
header .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: end;
}
header #navpad {
  padding: 0;
}
header .navbar-nav a {
  color: rgb(0, 0, 0); /* Cambia el color según tu necesidad */
  margin: 0 20px; /* Ajusta el margen entre los elementos <li> */
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
  padding-bottom: 10px;
}
header .navbar-nav a:hover {
  color: #153d52;
}
header .navbar-nav a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px; /* Grosor del borde */
  background-color: #153d52; /* Color diferencial del borde */
}
header .navbar-brand {
  margin-right: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  /* Estilo para la primera sección con la imagen y el texto */
  /* Estilo para la segunda sección con los enlaces de redes sociales */
  /* Estilos adicionales para hacerlo más dinámico */
}
footer .section_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
footer .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
footer .about-content .about-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
footer .about-content .about-text {
  text-align: left;
  font-size: 12px;
}
footer .about-content .about-text h2, footer .about-content .about-text h3, footer .about-content .about-text h5 {
  margin-bottom: 10px;
  font-size: 15px;
}
footer .social-links {
  display: flex;
  align-items: center;
}
footer .social-links .social-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
footer .social-links .social-link i {
  margin-right: 5px;
}
footer .social-links a:hover {
  color: #ff9900;
  transition: color 0.3s ease;
}
footer:hover {
  background-color: #444;
  transition: background-color 0.3s ease;
}

/* Start Main */
.main_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* carrousel */
}
.main_section #carouselExample {
  width: 50%;
}
.main_section .carousel-inner {
  border-radius: 1%;
}
.main_section .carousel-and-text-container {
  display: flex;
  flex-direction: row-reverse; /* Cambia a row si quieres la imagen a la izquierda y texto a la derecha */
}

/* Main Purpose */
.main_purpose {
  flex: 1; /* Hace que ocupe todo el espacio disponible */
  max-width: 50%; /* ajusta según tus necesidades */
  margin-left: 20px; /* Ajusta el espacio entre las dos secciones */
}
.main_purpose h1 {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
}
.main_purpose .main_paragraph {
  color: #333;
  line-height: 1.6;
  font-size: 1rem;
  text-align: justify;
}

/* Nueva sección "documents" */
.documents {
  text-align: center;
  padding: 2px;
}
.documents .documents_sshe {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}
.documents .documents_sshe div {
  text-align: center;
}
.documents .documents_sshe div .icon {
  width: 50px;
  height: auto;
  border-radius: 30px;
}
.documents .documents_sshe div .h2_title {
  font-size: 18px;
}
.documents .documents_sshe div h2:hover {
  color: #0cbb89;
}
.documents .documents_sshe div .intern {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

/*CONTACT PAGE*/
.container-contact {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-contact label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.container-contact input, .container-contact textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container-contact input[type=submit] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
.container-contact input[type=submit]:hover {
  background-color: #45a049;
}

/* US Page*/
.container-us {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr; /* Una columna para el contenido */
  grid-template-rows: auto auto auto; /* Tres filas para h1, p, y .image-container-us */
  grid-template-areas: "header" "paragraph" "images";
}
.container-us h1,
.container-us h2 {
  color: #333;
  text-align: center;
}
.container-us p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}
.container-us .image-container-us {
  display: grid;
  gap: 20px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.container-us .image-container-us img {
  border-radius: 12px 0 12px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}

/* Control de Contratista */
.container-control {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}
.container-control .image-container {
  text-align: center;
  color: #333;
}
.container-control h1, .container-control h2 {
  font-size: 1.8rem;
}
.container-control h2 {
  font-size: 1.4rem;
}
.container-control p {
  text-align: justify;
}
.container-control .button-argentina {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #346497;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.container-control .button-argentina:hover {
  background-color: #0056b3;
}
.container-control .button-argentina {
  text-decoration: none;
}

.form-container {
  text-align: center;
  margin-top: 20px;
}
.form-container a {
  text-decoration: none;
  font-size: 1.2rem;
}

.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.feature-container .feature {
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}
.feature-container .feature h4 {
  color: #007bff;
}
.feature-container .feature p {
  color: #555;
}

/* Matriz */
.risk-matrix {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.risk-matrix h1 {
  font-size: 1.8rem;
  text-align: center;
}
.risk-matrix form {
  margin-top: 10px;
}
.risk-matrix label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.risk-matrix select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 500px) {
  header .navbar-nav a {
    padding-bottom: 2px; /* Reduce la distancia entre el texto y la línea para pantallas más pequeñas */
  }
  header .navbar-nav a:hover::after {
    bottom: 1px; /* Ajusta la posición vertical para pantallas más pequeñas */
    width: 30%;
    left: 0;
    transform: none;
  }
  main .main_section {
    flex-direction: column;
  }
  main .main_section #carouselExample {
    width: 100%;
  }
  main .main_paragraph {
    font-size: 15px;
  }
  main .main_purpose h1 {
    font-size: 1.5rem;
  }
  main .main_purpose {
    max-width: 100%;
    margin: 0;
  }
  .section_footer {
    flex-direction: column;
    align-items: end;
  }
  .documents_sshe {
    justify-content: space-evenly;
  }
  .h2_title {
    font-size: 13px;
  }
}
@media screen and (min-width: 501px) and (max-width: 1023px) {
  header .navbar-nav a {
    padding-bottom: 5px; /* Reduce la distancia entre el texto y la línea para pantallas más pequeñas */
  }
  header .navbar-nav a:hover::after {
    bottom: 1px; /* Ajusta la posición vertical para pantallas más pequeñas */
    width: 10%;
    left: 0;
    transform: none;
  }
  main .main_section {
    flex-direction: column;
  }
  main .main_section #carouselExample {
    width: 100%;
  }
  main .main_paragraph {
    font-size: 15px;
  }
  main .main_purpose h1 {
    font-size: 1.5rem;
  }
  main .main_purpose {
    max-width: 100%;
    margin: 0;
  }
  .section_footer {
    flex-direction: column;
    align-items: end;
  }
  .documents_sshe {
    justify-content: space-evenly;
  }
  .h2_title {
    font-size: 13px;
  }
}
/* PAGE CONTACTO*/
@media only screen and (max-width: 600px) {
  .container-contact {
    max-width: 100%;
    margin: 20px auto;
  }
}
/* US Page*/
@media only screen and (max-width: 800px) {
  .container-us {
    max-width: 100%;
    margin: 20px auto;
  }
  .container-us .image-container-us {
    grid-template-columns: 1fr;
  }
}
/* Control de Contratista */
@media only screen and (max-width: 1200px) {
  .container-control {
    max-width: 100%;
    margin: 0 auto;
  }
  .container-control .feature-container .feature {
    width: 100%;
  }
}
/* Matriz */
@media only screen and (max-width: 600px) {
  .risk-matrix {
    width: 100%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1023px) {
  .risk-matrix {
    width: 90%;
  }
}/*# sourceMappingURL=estilo.css.map */