/* Start Main */
    .main_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        background-color: $classic-line-color;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* carrousel */
        #carouselExample {
        width: 50%;
        }
        .carousel-inner {
            border-radius: 1%;
        }
        .carousel-and-text-container {
            display: flex;
            flex-direction: row-reverse; /* Cambia a row si quieres la imagen a la izquierda y texto a la derecha */
        }
    }
    /* Main Purpose */
    .main_purpose {
        flex: 1; /* Hace que ocupe todo el espacio disponible */
        max-width: 50%; /* ajusta según tus necesidades */
        margin-left: 20px; /* Ajusta el espacio entre las dos secciones */

        h1 {
        color: $main-text-color;
        font-size: 1.8rem;
        text-align: center;
        }

        .main_paragraph {
        color:$main-text-color;
        line-height: 1.6;
        font-size: 1rem;
        text-align: justify;
        }
    }
     /* Nueva sección "documents" */

    .documents {
        text-align: center;
        padding: 2px;

        .documents_sshe {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        }

        .documents_sshe div {
        text-align: center;

        .icon {
            width: 50px;
            height: auto;
            border-radius: 30px;
        }

        .h2_title {
            font-size: 18px;
        }

        h2:hover {
            color: #0cbb89;
        }

        .intern {
            text-decoration: none;
            color: $main-text-color;
            font-weight: bold;
            display: block;
            margin-top: 5px;
        }
        }
    }

/*CONTACT PAGE*/
.container-contact {
    max-width: 600px;
    margin: 20px auto;
    background-color: $classic-line-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    input,textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="submit"] {
        background-color: $submit-button-bg-color;
        color: $classic-line-color;
        cursor: pointer;

        &:hover {
        background-color:$submit-button-hover-bg-color;
        }
    }
}

/* US Page*/

.container-us {
    max-width: 800px;
    margin: 20px auto;
    background-color: $classic-line-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr; /* Una columna para el contenido */
    grid-template-rows: auto auto auto; /* Tres filas para h1, p, y .image-container-us */
    grid-template-areas:
        "header"
        "paragraph"
        "images";

    h1,
    h2 {
        color: $bg-color;
        text-align: center;
    }

    p {
        font-size: 16px;
        line-height: 1.6;
        color: $us-page-text-color;
        text-align: justify;
    }

    .image-container-us {
        display: grid;
        gap: 20px;
        text-align: center;
        justify-content: center;
        justify-items: center;

        img {
            border-radius: 12px 0 12px 0;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            width: 200px;
        }
    }
}

/* Control de Contratista */

.container-control {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: $classic-line-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;

    .image-container {
        text-align: center;
        color: #333;
    }

    h1,h2 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        text-align: justify;
    }

    .button-argentina {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #346497;
        color: $classic-line-color;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }

    .button-argentina {
        text-decoration: none;
    }
}

.form-container {
        text-align: center;
        margin-top: 20px;

        a {
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    .feature-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .feature {
            width: 300px;
            margin: 20px;
            text-align: center;
            background-color: $classic-line-color;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;

        h4 {
            color: #007bff;
        }

        p {
            color: $us-page-text-color;
        }
    }
}

/* Matriz */

.risk-matrix {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: $classic-line-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    form {
        margin-top: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: $main-text-color;
    }

    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}
