/*MEDIA QUERIES*/

@media only screen and (max-width: 500px) {
    
    header {
        .navbar-nav a {
            padding-bottom: 2px; /* Reduce la distancia entre el texto y la línea para pantallas más pequeñas */
        }
    
        .navbar-nav a:hover::after {
            bottom: 1px; /* Ajusta la posición vertical para pantallas más pequeñas */
            width: 30%;
            left: 0;
            transform: none;
        }
    }
    
    main {
        .main_section {
            flex-direction: column;
            #carouselExample {
            width: 100%
            }
        }
        .main_paragraph {
            font-size: 15px;
        }
        
        .main_purpose h1 {
            font-size: 1.5rem;
        }
        
        .main_purpose {
            max-width: 100%;
            margin: 0;
        }
    }
    .section_footer {
        flex-direction: column;
        align-items: end;
    }

    .documents_sshe {
        justify-content: space-evenly;
    }

    .h2_title {
        font-size: 13px;
    }
}

/* PAGE CONTACTO*/

@media only screen and (max-width: 600px) {
    .container-contact {
        max-width: 100%;
        margin: 20px auto;
    }
}

/* US Page*/

@media only screen and (max-width: 800px) {
    .container-us {
        max-width: 100%;
        margin: 20px auto;

        .image-container-us {
            grid-template-columns: 1fr;
        }
    }
}

/* Control de Contratista */

@media only screen and (max-width: 1200px) {
    .container-control {
        max-width: 100%;
        margin: 0 auto;

        .feature-container {
            .feature {
            width: 100%;
            }
        }
    }
}

/* Matriz */

@media only screen and (max-width: 600px) {
    .risk-matrix {
        width: 100%;
        }
}