// Variables
$font-family: 'Poppins', sans-serif;
$primary-bg-color: #949cb1;
$main-text-color: #333;
$main-link-color: #153d52;
$bg-color: #333;
$footer-hover-bg-color: #444;
$footer-link-hover-color: #ff9900;
$submit-button-bg-color: #4caf50;
$submit-button-hover-bg-color: #45a049;
$us-page-text-color: #555;
$feature-border-color: #007bff;
$classic-line-color:#fff


